*.pyc

# vim temp files
*.swp

# nose coverage info
.coverage

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build

# these are cython genenerated files in the build process
mltk/aptagger.cpp

